:root {
    --primary-color: rgb(8, 8, 8);
    --secondary-color: white;
}

.main-lightmode {
    --primary-color: white;
    --secondary-color: rgb(8, 8, 8);
}

body {
    background-color: var(--primary-color);
    color: white;
    margin: 0;
    padding: 0;
    font-family: Poppins, Roboto, Arial;
    height: 2000px;
    position: relative;
    right: 0;
    top: 0;
}

p {
    text-decoration: none;
    color: var(--secondary-color);
}


::-webkit-scrollbar {
    width: 50px;
}

::-webkit-scrollbar-track {
    background: #f100f1;
}

::-webkit-scrollbar-thumb {
    background: #886;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #585;
}