:root {
    --primary-color4: rgb(31, 31, 31);
    --primary-color5: rgb(48, 48, 48);
    --primary-color6: white;
    --secondary-color4: rgb(248, 248, 248);
    --secondary-color5: rgb(241, 241, 241);
}

.side-lightmode {
    --primary-color4: rgb(248, 248, 248);
    --primary-color5: rgb(223, 221, 221);
    --primary-color6: black;
    --secondary-color4: rgb(31, 31, 31);
    --secondary-color5: rgb(48, 48, 48);
}

.sidebar {
    width: 0px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--primary-color4);
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 0px;
    padding-right: 0px;
    transition: width 0.5s;
}

.sidebar *::-webkit-scrollbar {
    width: 10px;
}

.sidebar *::-webkit-scrollbar-track {
    background: #00000000;
}

.sidebar *::-webkit-scrollbar-thumb {
    background: rgb(109, 109, 109);
    border-radius: 10px;
}

.sidebar *::-webkit-scrollbar-thumb:hover {
    background: rgb(65, 65, 65);
}

.sidebar-title-holder {
    text-align: center;
}

.sidebar-title {
    font-size: 26px;
    white-space: nowrap;
    font-weight: bold;
}

.sidebar-selection {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:center;
    transition: background-color 0.15s;
    height: 95px;
    width: 244px;
    border-radius: 12px;
    white-space: nowrap;
}

.sidebar-selection:hover {
    background-color: var(--primary-color5);
    cursor: pointer;
}

.active {
    background-color: var(--primary-color5);
}

#shooter {
    margin-bottom: 50px;
}

.sidebar-icon {
    height: 45px;
}

.sidebar-genre {
    font-size: 20px;
    color: var(--primary-color6);
}

